<div id="sidebar-wrapper">
    <ul class="sidebar-nav" id="menu">
        <a href="#">{{ username }}</a>

        <li>
            <a href="{{ url('begin_test') }}">Begin test</a>
        </li>

        <li><a href="{{ url('account_register') }}">Create User</a></li>

        <li>
            <a href="##" id="logout">Logout</a>
        </li>
    </ul>
</div>